/* Кнопка  */
.btn {
    padding: 10px 32px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--accent);
    font-family: 'Roboto', sans-serif;
    color: var(--white-text);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-size: 16px;
    border-color: transparent;
    transition: background-color var(--time-function);
}

.btn:hover,
.btn:focus,
.btn:active {
    background-color: var(--accent-hover);
}