
.clients {
    padding: 94px 0px;
}

.client-list {
    display: flex;
    gap: 30px;
}

.client-list .item {
    max-width: 170px;
}

.cliens-title {
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    margin-bottom: 50px;
}

.client-link {
    display: flex;
    padding: 16px 32px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border-color var(--time-function);
}

.client-link:hover,
.client-link:focus {
    border-color: var(--accent);
}

.client-logo {
    fill: #AFB1B8;
    transition: fill var(--time-function);
}

.client-link:hover .client-logo {
    fill: var(--accent);
}

.client-link:focus .client-logo {
    fill: var(--accent);
}