/* Логотип */
.logo {
    margin-right: 93px;
    display: block;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-accent {
    color: var(--accent)
}

.header {
    align-items: center;
    border-bottom: 1px solid var(--border-header);
}

.main-nav {
    display: flex;
    align-items: center;
}

.container>a {
    color: var(--black-text);
}

.logo-white {
    color: var(--white-text);
}

.navigation__link--current {
    color: var(--accent);
    display: block;
    position: relative;
        &::after {
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 4px;
            background-color: var(--accent);
            border-radius: 2px;
            bottom: -1px;
        }
}

/* Навигация  */
.navigation {
    font-weight: 500;
    line-height: 1.143;
    letter-spacing: 0.02em;
}

.navigation__link {
    display: block;
    padding: 32px 0px;
    text-decoration: none;
    color: var(--main-text);
    transition: color var(--time-function);
        &:hover {
            color: var(--accent)
        };
        &:focus{
            color: var(--accent)
        };
}
.navigation__list {
    display: flex;
}

.navigation__list .item:not(:last-child) {
    margin-right: 50px;
}

.contact {
    display: flex;
    margin-left: auto;
}
.contact .item:not(:first-child) {
    margin-left: 50px;
}

.contact__link {
    color: var(--secondary-text);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.143;
    text-decoration: none;
    display: flex;
    padding: 32px 0px;
    align-items: center;
    transition: color var(--time-function);
    &:hover{
        color: var(--accent)
        };
    &:focus{
        color: var(--accent)
        };
    &:last-child {
        margin-right: 0;
    };
}


.icon-contsct {
    fill: currentColor;
    margin-right: 10px;
}

.mail:hover,
.mail:focus,
.address:hover,
.address:focus {
    color: var(--accent)
}

.item,
.benefit-item {
    list-style-type: none;
}
