/* Наша команда  */
.ourteam {
    display: flex;
    text-align: center;
}

.ourteam .team-member:not(:last-child) {
    margin-right: 30px;
}

.team-tile {
    margin-top: 0px;
    margin-bottom: 50px;
}

.team {
    background-color: var(--bgc-team);
    padding: 94px 0px;
}

.team-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
    margin-top: 0;
}

.team-disc {
    font-size: 16px;
    line-height: 1.19;
    color: var(--secondary-text);
    margin-bottom: 16px;
}

.container-name {
    padding: 30px 0px;
    text-align: center;
}

.team-social {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--time-function);
}

.social-link:hover {
    background-color: var(--accent)
}

.socialnetwork {
    fill: #AFB1B8;
    transition: fill var(--time-function);
}

.social-link:hover .socialnetwork {
    fill: var(--white-text);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent);
}